*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('img/homeCover.png') no-repeat center center/cover;
    margin: 0px;
    padding: 0px;
    height: 756px;
}
/* NAVBAR */
#navbar{ 
    display: flex; 
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 2px solid black; */
    width: 100%;
}
#navbar::before{
    content: "";
    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar img{
     width: 80px;
     height: 80px; 
     padding: 43px 65px;
     /* border: 2px solid black; */
}
#navbar ul{
    display: flex;
    position: relative;
    top: 61px;
    left: 0px;
    /* border: 2px solid black; */
    list-style: none;
    padding: 0px;
    z-index: 1;
}
#navbar ul li{ 
    padding: 3px 8px;
    margin: 2px 7px;
}
#navbar ul li a{
    text-decoration: none; 
    color: #000;  
}
#navbar ul li a:hover{
    text-decoration:underline;  
    color: #F23052; 
}
#navbar #pot1{
    position: absolute;
    width: 552px;
    height: 680px;
    left: 667px;
    top: 0px;
    /* background-color: #F23052; */
}
#navbar p{
    position: relative;
    top: 69px;
    left: 487px;
}

/* HOME SECTION */
#home{
    /* border: 2px solid black; */
    width: 441px;
    position: relative;
    top: 236px;
    left: 54px;
}
#home p{
    font-size: 70px;
    line-height: 82px;
    color: #F23052;
    margin-bottom: 23px;
}
#home .btn{
    width: 168px;
    height: 50px;
    border-radius: 31px;
    background: #F23052;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    
}

/* ABOUT PANDA POT SECTION */
#aboutPandaPot{
    /* border: 2px solid black; */
    position: relative;
    top: 492px;
}
#aboutPandaPot h5{
    text-align: center;
    font-weight: bolder;
    font-size: 58px;
    margin-top: 21px;
}
div#aboutPot-content {
    display: flex;
}

div#aboutPot-content div:nth-child(2){
    align-self: center;
    background: linear-gradient(270deg, #F2D19E -15.59%, #F6E5C9 89.92%);
    position: absolute;
    width: 1052px;
    height: 300px;
    left: 295px;
    z-index: -1;
} 
.aboutPot-content-para{
    width: 472px;
    position: absolute;
    right: 149px;
    top: 74px;
}

/* OUR FOOD MENU */
#our-food-menu{
    /* border: 2px solid black; */
    position: relative;
    top: 521px;
}
#our-food-menu h5{
    text-align: center;
    font-size: 49px;
}
#our-food-menu-items{
    /* border: 2px solid black; */
    display: flex;
}
.our-food{
    /* border: 2px solid black; */
    padding: 23px 37px;
    margin: 3px 2px;
    align-self: center;
    border-radius: 12px;
    background: #e1e1e3;
}
.our-food p{
    text-align: center;
    border: 2px solid black;
    width: 176px;
    height: 126px;
    padding-top: 50px;
    background: #F23052;
    color: #fff;
    border-bottom-left-radius: 64px;
}
.our-food-item-para{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-food img{
    width: 254px;
    height: 198px;
    display: block;
    margin: auto;
    position: relative;
    top: 53px;
}

/* OUR FOOD ITEMS */
#our-food-items{
    position: relative;
    top: 538px;
    /* border: 2px solid black; */
    margin-top: 21px;
}
#our-food-items h2{
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 26px;
}
#our-food-items h3{
    text-align: center;
    font-size: 42px;
    
}
#our-food-items p{
    color: #fff;
}
#one-food{
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    background-color: #000;
}
#one-food li{
    list-style: none;
}

/* OUR FOOD GALLERY */
#food-gallery{
    /* border: 2px solid black; */
    display: flex;
}
.food-gallery-img{
    /* border: 2px solid black; */
}
#our-food-gallery{
    position: relative;
    top: 576px;
}
.img-one{
    margin-top: 3px;
    margin-left: 8px;
}
.img-second{
    margin-top: 3px;
    margin-left: 8px;  
    margin-bottom: 3px; 
}
